.homepage {
  background-color: #1d1d1d;
  min-height: 100vh;
}

.navbar {
  background-color: #2c2c2c;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-links button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-links button:hover {
  background-color: darkred;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.content {
  text-align: center;
  margin-top: 30px;
  color: white;
  padding: 0 20px;
}

.get-started {
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.get-started:hover {
  background-color: darkred;
}

.separator {
  border-top: 1px solid #444;
  margin: 40px 0;
}

.subject-menu {
  margin-top: 40px;
}

.subject-menu h3 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category {
  margin: 10px;
  text-align: center;
  border: 1px solid #444;
  padding: 15px;
  border-radius: 8px;
  background-color: #2c2c2c;
}

.category h4 {
  cursor: pointer;
  color: red;
  transition: color 0.3s;
  margin-bottom: 10px;
}

.category h4:hover {
  color: darkred;
}

.category ul {
  list-style-type: none;
  padding: 0;
}

.category li {
  margin-bottom: 5px;
}

.category li a {
  text-decoration: none;
  color: red;
  transition: color 0.3s;
}

.category li a:hover {
  color: darkred;
}

